# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages
- List popular libraries
- List popular open source tools
- Execute arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++
6. C

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. Matplotlib
4. Plotly
5. Scikit
6. TensorFlow

Data Science Tools
| ----------------|
| Jupyter Notebook |
| RStudio |
| Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply the add integers

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [23]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Robert